<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="arena.Epos"
	android:versionCode="175"
	android:versionName="1.0.0.175"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="28"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission
	android:name="android.permission.WRITE_EXTERNAL_STORAGE"
	android:maxSdkVersion="18" />
	<permission android:name="arena.Epos.permission.C2D_MESSAGE"
	  android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="arena.Epos.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="SuperOrder"
		android:theme="@style/DarkTheme">
		
		<activity android:name="com.google.android.gms.common.api.GoogleApiActivity"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:exported="false"/>
		    <meta-data
		  android:name="com.google.android.gms.version"
		  android:value="@integer/google_play_services_version" />
		<receiver
		            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
		            android:enabled="true"
		            android:exported="false" >
		        </receiver>
		
		  <service
		            android:name="com.google.android.gms.measurement.AppMeasurementService"
		            android:enabled="true"
		            android:exported="false" />
					
		 <receiver
		            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
		            android:enabled="true"
		            android:exported="true"
		            android:permission="android.permission.INSTALL_PACKAGES" >
		            <intent-filter>
		                <action android:name="com.android.vending.INSTALL_REFERRER" />
		            </intent-filter>
		</receiver>
		<service
		            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
		            android:enabled="true"
		            android:exported="false"
		            android:permission="android.permission.BIND_JOB_SERVICE" />
		
		 <service android:name="com.google.firebase.components.ComponentDiscoveryService"  android:directBootAware="true" >
		            <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
					 <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		            <meta-data 
						android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
						android:value="com.google.firebase.components.ComponentRegistrar"/>
		
					<meta-data
		   				 android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
		   				 android:value="com.google.firebase.components.ComponentRegistrar"/>
		   			 <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		              <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		               
		</service>
		   <provider
		  android:authorities="arena.Epos.firebaseinitprovider"
		  android:name="com.google.firebase.provider.FirebaseInitProvider"
		  android:exported="false"
		   android:directBootAware="true"
		  android:initOrder="100" />
		  
		   <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
		  android:exported="true"
		  android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		  <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		  <category android:name="arena.Epos" />
		  </intent-filter>
		  </receiver>
		    <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
		  android:exported="false" />
		
		
		  <service
		  android:name="com.google.firebase.iid.FirebaseInstanceIdService"
		  android:exported="true">
		  <intent-filter android:priority="-500">
		  <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
		  </intent-filter>
		  </service>
		<service
		  android:name="com.google.firebase.messaging.FirebaseMessagingService"
		    android:directBootAware="true"
		  android:exported="true">
		  <intent-filter android:priority="-500">
		  <action android:name="com.google.firebase.MESSAGING_EVENT" />
		  </intent-filter>
		  </service>
		   <service android:name="anywheresoftware.b4a.objects.FirebaseNotificationsService">
		     <intent-filter>
		  <action android:name="com.google.firebase.MESSAGING_EVENT"/>
		     </intent-filter>
		   </service>
		<meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".about"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".acardentry"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".ahome"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".aplaceorder"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".aselectitem"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".aselectplaycentre3"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".asyncdatabase"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".changeaccountinfo"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".changesettings"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".checkaccountstatus"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".createaccount"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".firebasemessaging">
		</service>
		<receiver android:name=".firebasemessaging$firebasemessaging_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".querynewinstall"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".srvnotification">
		</service>
		<receiver android:name=".srvnotification$srvnotification_BR">
		</receiver>
		<service android:name=".srvphonetotal">
		</service>
		<receiver android:name=".srvphonetotal$srvphonetotal_BR">
		</receiver>
		<service android:name=".svctestsequence">
		</service>
		<receiver android:name=".svctestsequence$svctestsequence_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".templateactivity"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".templateservice">
		</service>
		<receiver android:name=".templateservice$templateservice_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".templatexactivity"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".teststartat">
		</service>
		<receiver android:name=".teststartat$teststartat_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".validatecentreselection2"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".validatedevice"
			android:label="SuperOrder"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".httputils2service">
		</service>
		<receiver android:name=".httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>